*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-three;
  font-family: $font-two;
  font-size: 60px;
  line-height: 27px;
  font-weight: $font-bold;
  color: $color-one;
  text-align: center;
}

.container {
  max-width: 643px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}

.upper {
  text-transform: uppercase;
}