$font-one: 'Source Code Pro', monospace;
$font-two: 'Source Sans Pro', sans-serif;

$color-one: #ffffff;
$color-two: #2ecc71;
$color-three: #131313;
$color-four: #e74c3c;
$color-five: #c24e00;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;